<div class="movie-details">
    <h2>Movie Details</h2>
  
    <div class="search-box">
      <input type="text" [(ngModel)]="movieName" placeholder="Search for a movie">
      <button (click)="searchMovie()">Search</button>
    </div>
  
    <div *ngIf="movie">
      <h3>{{ movie.Title }}</h3>
      <p>Released: {{ movie.Released }}</p>
      <p>Actors: {{ movie.Actors }}</p>
      <p>Plot: {{ movie.Plot }}</p>
      <p>Ratings: {{ movie.imdbRating }}</p>
      <img [src]="movie.Poster" alt="{{ movie.Title }}">
    </div>
  </div>
  